@model BookStore.Domain.Model.Genero

@{
    ViewData["Title"] = "Exclusão de cadastro";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir?</h3>
<div>
    <h4>Genero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <input type="hidden" asp-for="Id" />
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            <a asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
